/Misc/
/Obfuscator/
/*.suo
/*.csproj.user
/*.sln.DotSettings.user
/Eliot.Extensions.Obfuscator/
/Eliot.Extensions.EdProtector/
/Setup/
/*.lnk
/_UpgradeReport_Files/
/_ReSharper.UE Explorer/
/*.psess
/*.vsp
/todo.txt
/Eliot.UE Explorer.Forms/
