<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="UEExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
 <userSettings>
  <UEExplorer.Properties.Settings>
   <setting name="ProgramForm_Location" serializeAs="String">
    <value>500, 500</value>
   </setting>
   <setting name="ProgramForm_Size" serializeAs="String">
    <value>929, 562</value>
   </setting>
   <setting name="InfoContentSplitter_SplitterDistance" serializeAs="String">
    <value>330</value>
   </setting>
   <setting name="ProgramForm_WindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
  </UEExplorer.Properties.Settings>
 </userSettings>
</configuration>
