<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UEExplorer.Properties.UserHistory"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="UEExplorer.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="DpiAwareness" value="PerMonitorV2" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <UEExplorer.Properties.UserHistory>
      <setting name="RecentFiles" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string />
          </ArrayOfString>
        </value>
      </setting>
    </UEExplorer.Properties.UserHistory>
    <UEExplorer.Properties.Settings>
      <setting name="WindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>900, 600</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="HexViewer_ViewASCII" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HexViewer_ViewByte" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HexViewerLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="HexViewerSize" serializeAs="String">
        <value>1000, 450</value>
      </setting>
      <setting name="HexViewerState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="HexPanel_SplitterDistance" serializeAs="String">
        <value>219</value>
      </setting>
      <setting name="FindIn_MatchCase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FindIn_FindText" serializeAs="String">
        <value />
      </setting>
      <setting name="FindIn_LookIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FindInPanel_Size" serializeAs="String">
        <value>349, 146</value>
      </setting>
      <setting name="FindResultsPanel_Size" serializeAs="String">
        <value>349, 146</value>
      </setting>
      <setting name="SortByName_Checked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SyncNodeWithActiveContext" serializeAs="String">
        <value>True</value>
      </setting>
    </UEExplorer.Properties.Settings>
  </userSettings>
</configuration>
