<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.7.0" targetFramework="net48" />
  <package id="AvalonEdit" version="6.1.3.50" targetFramework="net48" />
  <package id="Krypton.Docking" version="65.22.6.152" targetFramework="net48" />
  <package id="Krypton.Navigator" version="65.22.6.152" targetFramework="net48" />
  <package id="Krypton.Navigator.Canary" version="70.22.7.203-beta" targetFramework="net48" />
  <package id="Krypton.Toolkit" version="65.22.6.152" targetFramework="net48" />
  <package id="Krypton.Toolkit.Canary" version="70.22.7.203-beta" targetFramework="net48" />
  <package id="Krypton.Workspace" version="65.22.6.152" targetFramework="net48" />
  <package id="Krypton.Workspace.Canary" version="70.22.7.203-beta" targetFramework="net48" />
</packages>